*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.top{
    height: 8%;
    width: 100%;
    top: 0;
    padding: 10px 10px;
    background-color: rgb(61, 167, 185);
    
    display: flex;
    
}
.top img{
    height: 70px;
    width: 70px;
    
    margin-left: 20px;
    border-radius: 100%;
}
.top .navlinks{
    margin-top: 25px;
    margin-left: 60%;

}
.navlinks a{
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    
}
.top a:hover{
    background-color: rgb(119, 2, 132);
    color: white;
    border-radius: 5px;
    
}
@media (max-width:600px) {
    .top a {
        display:block;
        padding: 8px;
    }
    .navlinks {
        position: relative;
        text-align: center;
        padding: 20px;
        top: 20px;
        right: 35%;
    }
    
}
